  .scroll::-webkit-scrollbar {
    display: none;
  }
  
  .scroll::-webkit-scrollbar-track {
    background: white;
  }
  
  .scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #1b313f;
    height: 1rem;
  }
  
  .noscrollbar::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }